/*
 * Namaz Vakti Wordpress Plugin
 * namazvakti-style.css
 * Erdem Arslan - http://www.erdemarslan.com
*/

.yesil {
	background-color:#008A00;
}

.tr-yesil:hover{
	background-color:#94BD4A;
}

.mavi {
	background-color:#1B58B8;
}

.tr-mavi:hover{
	background-color:#006AC1;
}

.kirmizi {
	background-color:#FF2E12;
}

.tr-kirmizi:hover{
	background-color:#E56C19;
}

.turuncu {
	background-color:#FF981D;
}

.tr-turuncu:hover{
	background-color:#E56C19;
}

.siyah {
	background-color:#2E1700;
}

.tr-siyah:hover{
	background-color:#306772;
}

.tarih {
	padding:20px;
	text-align:center;
	vertical-align:middle;
	color:#FFFFFF;
	/*margin-bottom:5px;*/
}

.tarih .gun {
	font-size:36px;
	font-weight:bold;
	margin-bottom:10px;
}

.tarih .ayyil {
	font-size:16px;
	margin-bottom:10px;
}

.tarih .hicri {
	font-size:16px;
	font-weight:bold;
}

.tarih .sehir {
	margin-top:10px;
	font-weight:bold;
}


.secim {
	position:relative;
	text-align:center;
}

.secim select {
	padding:6px;
	margin-top: 3px;
	width: 90%;
	font-weight:bold;
}

.namaz {
	color:#ffffff;
	padding-top:10px;
	padding-bottom: 10px;
}
*:first-child+html .namaz {margin-top:0px}
.namaz table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
	color:#ffffff;
}
.namaz table th { font-weight:bold; padding-left:20px; }
.namaz table td {
    padding:5px;
    text-align: left;
}